* {

    margin: 0px;
    padding: 0px;
}

a {
    
    text-decoration: none;
    color: #000;
}

body   {

    overflow: hidden;
}

#RestartIMG {

    width: 70px;
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
    transition: opacity 0.3s;
}

#RestartIMG:hover {

    opacity: 0.5;
}

#HeaderDocument {

    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;

}

#BlockOfMainData {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    padding: 10px;
    margin-top: 30px;
    z-index: 1;

    background-color: rgba(206, 205, 205, 1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.SizeIMG {

    width: 50px;
    height: 50px;
}

#SearchPost {

    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    //background-color: green;
}

#SearchPost>input[type='text'] {

    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    margin-left: 10px;

    height: 25px;

    border: none;

    outline: none;
}

#SearchPost>input[type='submit'] {

    width: 50px;
    height: 50px;

    font-size: 45px;

    background-color: rgba(0, 0, 0, 0);


    outline: none;
    border: none;

    transition: opacity 0.3s;

    cursor: pointer;
}

#SearchPost>input[type='submit']:hover {

    opacity: 0.5;
}

#SearchPost>div {

    margin-right: 10px;
    height: 25px;
    width: 22px;

    background-color: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#SearchPost>div>img {

    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: opacity 0.3s;
}

#SearchPost>div>img:hover {

    opacity: 0.5;
}

#ControlPosts {

    font-family: 'Cuprum', sans-serif;
    font-size: 25px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    //background-color: red;
}

#SortFilter {

    display: flex;
    flex-direction: row;
    //justify-content: space-around;
    align-items: center;

    //width: 150px;

    //background-color: yellow;
}

#SortFilter>img {

    width: 50px;
    height: 50px;

    margin-left: 20px;

    cursor: pointer;
    transition: opacity 0.3s;
}

#SortFilter>img:hover {

    opacity: 0.5;
}

#ActionPost {

    display: flex;
    flex-direction: row;
    //justify-content: space-around;
    align-items: center;

    //width: 500px;

    //background-color: gray;
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    font-weight: bold;

}

#ActionPost>input {

    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    font-weight: bold;

    margin-left: 20px;

    border: solid black 2px;
    padding: 2px;

    cursor: pointer;
    outline: none;
}

#ActionPost>input:nth-child(1) {

    background-color: #00BA74;
}

#ActionPost>input:nth-child(1):hover {

    background-color: #009D62;
}

#ActionPost>input:nth-child(2) {

    background-color: #DF0B00;
}

#ActionPost>input:nth-child(2):hover {

    background-color: #AD0B02;
}

#RefreshHelp {

    display: flex;
    flex-direction: row;
    //justify-content: space-around;
    align-items: center;

    //width: 200px;

    //background-color: blue;
}

#RefreshHelp>input {

    width: 50px;
    height: 70px;

    display: flex;

    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 20px;
    margin-bottom: 20px;

    font-size: 60px;
    background-color: rgba(0, 0, 0, 0);
    border: none;

    outline: none;

    transition: opacity 0.3s;

    cursor: pointer;
}

#RefreshHelp>input:hover {

    opacity: 0.5;
}

#RefreshHelp>img {

    width: 50px;
    height: 50px;

    border: solid black 2px;
    border-radius: 100px;

    margin-left: 20px;

    padding: 5px;
    
    cursor: pointer;
}

#RefreshHelp>img:hover {

    background-color: #AD0B02;
}

.PostElement {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 50px;

    border: solid black 2px;
    background-color: white;

    margin-top: 10px;

}

.PostElement>div:nth-child(1) {

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 5px;
    margin-right: 10px;

    width: 110px;
}

.PostElement>div:nth-child(1)>input {

    margin-right: 10px;
}

.PostElement>div:nth-child(1)>input {

    cursor: pointer;
}

.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox__text {
    position: relative;
    cursor: pointer;
}
.checkbox__text:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    width: 38px;
    height: 20px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
}
.checkbox__text:after {
    content: '';
    position: absolute;
    top: -6px;
    left: 0px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
}
.checkbox input:checked + .checkbox__text:before {
    background: #00BA74;
}
.checkbox input:checked + .checkbox__text:after {
    left: 22px;
}
.checkbox input:focus + .checkbox__text:before {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(0,0,0,.7);
}

.PostElement>div:nth-child(1)>img {

    width: 40px;
    height: 40px;

    transition: opacity 0.3s;

    cursor: pointer;
}

.PostElement>div:nth-child(1)>img:hover {

    opacity: 0.5;
}

.PostElement>div:nth-child(2) {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-right: 10px;

    font-family: 'Cuprum', sans-serif;
    font-size: 25px;

    width: 100%;
    height: 100%;


}

.CheckPost{

    cursor: pointer;
    height: 100%;

    transition: background-color 0.3s;
}

.CheckPost:hover {

    background-color: #ADADAD;
}

.PostElement>div:nth-child(2)>a, .PostElement>div:nth-child(2)>a>div, .PostElement>div:nth-child(2)>div {

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.PostElement>div:nth-child(2)>a>div:nth-child(1) {

    width: 570px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.PostElement>div:nth-child(2)>a>div:nth-child(2) {

    margin-left: 20px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.PostElement>div:nth-child(2)>a>div:nth-child(3) {

    margin-left: 20px;
    width: 350px;
}

.PostElement>div:nth-child(2)>div:nth-child(1) {

    margin-left: auto;
}

.PostElement>div:nth-child(2)>div>input {

    font-family: 'Russo One', sans-serif;
    font-size: 22px;
    font-weight: bold;

    margin-left: 20px;

    border: solid black 2px;
    padding: 2px;

    cursor: pointer;
}

.PostElement>div:nth-child(2)>div>input:nth-child(1) {

    background-color: #00BA74;
}

.PostElement>div:nth-child(2)>div>input:nth-child(1):hover {

    background-color: #009D62;
}

.PostElement>div:nth-child(2)>div>input:nth-child(2) {

    background-color: #DF0B00;
}

.PostElement>div:nth-child(2)>div>input:nth-child(2):hover {

    background-color: #AD0B02;
}

#ModalWindow {

    position: absolute;
    display: none;
    justify-content: center;

    top: 0;
    width: 100%;
    height: 100%;

    z-index: 5;

    background-color: rgba(0, 0, 0, 0.7);


}

#MainContentModalWindow {

    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 400px;
    height: 280px;
    margin-top: 10%;
    padding: 5px;

    border: solid black 2px;

    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    font-family: 'Russo One', sans-serif;
    font-size: 22px;
}

#MainContentModalWindow>p {

    margin-top: 3%;
    margin-bottom: 7%;

    text-align: center;

}

#MainContentModalWindow>img {

    height: 150px;
    width: 150px;

    transition: opacity 0.2s;
    cursor: pointer;
}

#MainContentModalWindow>img:hover {

    opacity: 0.7;
}

#MainControlPanel {

    background-color: red;
}

#Posts {

    overflow-y: auto;
    overflow-x: hidden;
}

#NonePost {

    font-family: 'Russo One', sans-serif;
    font-size: 30px;

    text-align: center;
    margin-top: 5%;

}

.SortMenu {

    position: absolute;

    width: 200px;
    height: 150px;

    display: none;
    justify-content: center;

    background-color: white;
    border: solid black 2px;

    transition: 0.5s;

    z-index: 1;

    top: 20%;
    left: 36.25%;
}

.SortMenuDisplay {

    display: flex;
}

.SortMenu:before {
    content: "";
    width: 0;
    height: 0;
    right: 45%;
    bottom: 100%;
    position: absolute;
    border-right: 13px solid transparent;
    border-bottom: 26px solid black;
    border-left: 13px solid transparent;
}

.SortMenu>div {


    display: flex;
    flex-direction: column;
    align-items: center;

    transition: 0.5s;
}

.SortMenu>div>p {

    font-family: 'Russo One', sans-serif;
    font-size: 20px;

}

.SortMenu>div>div>div {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SortMenu>div>div>div>input {

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 7px;

    background-color: #1ABC9C;

    width: 160px;

    cursor: pointer;

    border: solid black 2px;
    transition: 0.5s;

    font-family: 'Cuprum', sans-serif;
    font-size: 25px;

    outline: none;
}

.SortMenu>div>div>div>img {

    width: 20px;
    height: 20px;


    justify-content: center;
    align-items: center;



    margin-left: 5px;
    margin-top: 7px;

    display: none;

    transition: 0.5s;

    cursor: pointer;
}

.SortMenu>div>div>div>img:hover {

    height: 30px;
    width: 30px;
}

.SortMenu>div>div>div>input:hover {

    background-color: #148F77;
}

.FilterMenu {

    display: none;
    flex-direction: column;
    align-items: center;

    position: absolute;

    background-color: white;
    border: solid black 2px;

    transition: 0.5s;

    z-index: 1;

    width: 250px;
    height: 173px;

    top: 20%;
    left: 38.40%;

    font-weight: bold;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;

}

.FilterMenu:before {
    content: "";
    width: 0;
    height: 0;
    right: 45%;
    bottom: 100%;
    position: absolute;
    border-right: 13px solid transparent;
    border-bottom: 26px solid black;
    border-left: 13px solid transparent;
}

#TypePost {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    align-self: flex-start;

    font-weight: lighter;
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;

    margin-top: 15px;
    margin-left: 5px;
}

#TypePost>p {

    margin-right: 10px;
    text-transform: capitalize;

}

#TypePost>select {

    font-family: 'Cuprum', sans-serif;
    font-size: 20px;

    outline: none;

    width: 190px;

    text-align: center;
    text-transform: uppercase;

}

#FilterButton {

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 15px;

    background-color: #1ABC9C;

    width: 99%;

    cursor: pointer;

    border: solid black 2px;
    transition: 0.5s;

    font-family: 'Cuprum', sans-serif;
    font-size: 30px;

    font-weight: bold;

    outline: none;

    text-transform: uppercase;
}

#FilterButton:hover {

    background-color: #148F77;
}

#DateError {

    display: none;
    justify-content: center;
    align-items: center;

    margin-top: 20px;

    transition: 0.5s;

    font-family: 'Cuprum', sans-serif;
    font-size: 20px;

    font-weight: bold;

    text-transform: uppercase;

    color: #AD0B02;

}

#TimeReceived {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    align-self: flex-start;

    font-weight: lighter;
    font-family: 'Cuprum', sans-serif;
    font-size: 25px;

    margin-top: 15px;
    margin-left: 5px;
}

#TimeReceived>p {

    margin-right: 10px;
    text-transform: capitalize;

}

#TimeReceived>select {

    font-family: 'Cuprum', sans-serif;
    font-size: 20px;

    outline: none;

    width: 190px;

    text-align: center;
    text-transform: uppercase;

}

#DateBetween {

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;

    font-family: 'Cuprum', sans-serif;
    font-size: 20px;

    margin-top: 10px;

    transition: 0.5s;
}

#DateBetween>div {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin-left: 5px;
}

#DateBetween>div>p {

    margin-right: 10px;
    text-transform: capitalize;
}

#DateBetween>div>input {

    width: 200px;
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;

    border: solid 2px black;

    margin-top: 2px;
}

.FilterMenuDisplay {

    display: flex;
}