* {

    padding: 0;
    margin: 0;
}

#HeaderDocument {

    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
}

#MainControl {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
    background-color: rgba(206, 205, 205, 1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

#MainControl>a>img {

    width: 50px;
    height: 50px;
    
    transition: opacity 0.3s;

    cursor: pointer;
}

#MainControl>a>img:hover {

    opacity: 0.5;
}

#ActionPost>input {

    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    font-weight: bold;

    margin-left: 20px;

    border: solid black 2px;
    padding: 2px;

    cursor: pointer;

    outline: none;
}

#ActionPost>input:nth-child(1) {

    background-color: #00BA74;
}

#ActionPost>input:nth-child(1):hover {

    background-color: #009D62;
}

#ActionPost>input:nth-child(2) {

    background-color: #DF0B00;
}

#ActionPost>input:nth-child(2):hover {

    background-color: #AD0B02;
}

#PostContent {

    display: flex;
    flex-direction: column;
    align-items: center;

}

#ThemeLetter {

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2%;
}

#ThemeLetter>p>span {

    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

#ThemeLetter>p{

    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
}

#MainPartLetter {

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 2%;
    width: 80%;
    height: 550px;

    padding: 5px;
    
    overflow: auto;

    background-color: rgba(206, 205, 205, 1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#TechnicalInfo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-top: 1%;
}

#TechnicalInfo>p>span {

    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

#TechnicalInfo>p {

    font-family: 'Cuprum', sans-serif;
    font-size: 25px;
    margin-top: 20px;
}