* {

    margin: 0;
    padding: 0;
}

body {


}

#HeaderDocument {

    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;

}

#BlockOfMainData {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
    background-color: rgba(206, 205, 205, 0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#ToUser {

    display: flex;
    //justify-content: space-between;
    align-items: center;
}

#FromUser {

    display: flex;
    //justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#InputDataToUser {

    font-size: 25px;
    font-family: 'Cuprum', sans-serif;
    border: solid 1px black;
    margin-left: 2.7%;
    width: 40%;
}

.ClearToField {

    cursor: pointer;
    transition: opacity 0.3s;
}

.ClearToField:hover {

    opacity: 0.5;
}

.CheckSearchEmail {

    width: 30px;
    margin-left: 10px;
}

.ClearToField {

    width: 30px;
    margin-left: 1%;

}

.HeadMainInfo {

    font-size: 30px;
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
}

#InfoUserFromDB {

    font-size: 25px;
    font-family: 'Cuprum', sans-serif;
    margin-left: 0.7%;
    background-color: black;
    color: #00D363;
}

#ChooseType {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20%;

}

#titleToListPost {

    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
}

#SelectChoose {

    margin-left: 15px;
    text-transform: uppercase;
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    border: solid black 1px;
}


.ErrorReceived {

    font-family: 'Russo One', sans-serif;
    color: darkred;
    text-transform: uppercase;
    //position: absolute;
    //bottom: 75px;
}



.SendKey {

    margin-top: 15px;
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    background-color: #000;
    color: royalblue;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
    border: solid 1px white;
    transition: opacity 0.3s;
}

.SendKey:hover {
    opacity: 0.7;
}

button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

.ForLetter {

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    height: 680px;
}

#ThemeLetter, #MainContentLetter {

    font-size: 25px;
    border: solid black 1px;
    width: 97%;
}

#ThemeLetter {

    margin-top: 25px;
    font-family: 'Russo One', sans-serif;
}

#MainContentLetter {

    font-family: 'Playfair Display SC', serif;
    margin-top: 20px;
    height: 500px;
}

#RestartIMG {

    width: 70px;
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
    transition: opacity 0.3s;
}

#RestartIMG:hover {

    opacity: 0.5;
}

.ForBox, .ForCash {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.InputFieldBox, #SelectChooseBox, .InputFieldBox, .InputFieldCash {

    font-size: 22px;
    font-family: 'Cuprum', sans-serif;
    border: solid black 1px;
}

.TypeOfBox, .TypeOfCash {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.InputFieldCash {

    width: 100px;
}

.headToBox, .headToCash {

    font-size: 25px;
    font-weight: bold;
    font-family: 'Cuprum', sans-serif;
    margin-right: 10px;
}

.weightBox {
    margin-top: 30px;
    margin-bottom: 15px;
}

.headDescBox, .headDescCash {

    margin-top: 20px;
    margin-bottom: 10px;
}

#DescBox {

    height: 200px;
    width: 350px;
}

#WaringCheckBox {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    //background-color: #000;
    font-family: 'Cuprum', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    color: #D20036;

}

#WaringCheckBoxElement {

    background-color: #000;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#ContainerDescBox {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ValuteImg {

    width: 22px;
}

#CurrencyStyle {

    margin-left: 10px;
    font-size: 22px;
}

#DescriptionMoney {

    display: flex;
    flex-direction: column;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

#AfterSendLetter {

    background-color: #CED3D5;
    border: solid black 1px;
    position: absolute;
    width: 500px;
    height: 350px;
    //filter: blur(1px);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}