* { margin: 0; padding: 0; }
body {
    overflow: auto;
    background-color: black;
}


main {

    display: flex;
    flex-direction: column;
    background-color: white;

}

.blockElement {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 360px;
}

#ProfileClient {

    height: 400px;
    color: white;

}


.LT {
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 10px;
}



.LT>#LogOUT {

    width: 50px;
    height: 50px;
    transition: width 0.3s, height 0.3s;
    cursor: pointer;
}

#LogOUT:hover {

    width: 60px;
    height: 60px;
}

#Settings {

    width: 50px;
    display: flex;
    justify-self: flex-end;
    align-self: flex-start;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 10px;

    transition: width 0.3s;
    cursor: pointer;
}

#Settings:hover {

    width: 60px;

}

#Time {

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-self: flex-start;
    margin-top: 10px;
    align-items: center;
    text-align: center;
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    color: black;

}

#ClockTime {

    margin-top: 15px;
    font-size: 23px;
}

#MainInfoAboutUser {

    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    justify-self: center;
    color: black;
    font-family: 'Russo One', sans-serif;
    font-size: 35px;
}

#DisplayPost {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SR {

    display: flex;
}

.SR>img {

    width: 20px;
    height: 20px;
}


.SR>span {

    color: black;
    font-size: 20px;
    cursor: help;
    transition: font-size 0.5s;
}

.SR>span:hover {

    font-size: 40px;
}

#AvatarANDFIO {

    display: flex;
    justify-content: center;
    align-items: center;
}


#UserPhoto>img {

    display: flex;
    justify-self: center;
    align-self: center ;
    width: 80px;
    margin-right: 10px;
    transition: width 0.5s;
}

#UserPhoto>img:hover {

    width: 100px;

}

.RegProfile {

    display: flex;
    align-self: flex-end;
    justify-content: center;
    position: absolute;
    align-items: center;
    font-family: 'Kurale', serif;
    font-size: 20px;
    transition: font-size 0.5s;
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.RegProfile:hover {

    font-size: 23px;

}

.statistic {

    position: absolute;
    right: 90%;
    cursor: pointer;

}

.email {

    cursor: default;
}

.regUserProf {

    position: absolute;
    left: 85%;
    cursor: pointer;
}

#ArchiveSent {

    display: flex;
    position: absolute;
    left: 0px;
    align-items: center;
    min-height: 360px;
    width: 50%;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
    text-decoration: none;

    transition: all 0.1s;

}

#ArchiveSent>img {

    position: absolute;
    z-index: 0;
    width: 300px;
    margin-left: 510px;
}

#ArchiveSent>span {

    z-index: 1;
    color: black;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    margin-left: 80px;
    transition: font-size 0.5s;
}

#ArchiveSent:hover {

    font-size: 35px;
    border: solid 1px black;

    min-height: 380px;
}

#ArchiveReceived {

    position: absolute;
    right: 0px;
    font-size: 30px;
    display: flex;
    align-items: center;
    min-height: 360px;
    width: 49.9%;
    cursor: pointer;
    z-index: 2;
    text-decoration: none;

    transition: all 0.1s;
}

#ArchiveReceived>img {

    position: absolute;
    z-index: 0;
    width: 300px;
    margin-left: 510px;
}

#ArchiveReceived>span {

    z-index: 1;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    margin-left: 80px;
    transition: font-size 0.5s;
}

#ArchiveReceived:hover {

    font-size: 35px;
    border: solid 1px black;

    min-height: 380px;
}

#ArchiveSendANDReceivedPost {

    position: absolute;
    left: 0px;
    font-size: 25px;
    display: flex;
    align-items: center;
    height: 200px;
    width: 60%;
    cursor: pointer;
    margin-top: 2px;
    z-index: 1;
    text-decoration: none;

    transition: all 0.1s;
}

#ArchiveSendANDReceivedPost>img {

    position: absolute;
    z-index: 0;
    width: 190px;
    margin-left: 780px;
}

#ArchiveSendANDReceivedPost>span {

    z-index: 1;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    margin-left: 80px;
    transition: font-size 0.5s;
}

#ArchiveSendANDReceivedPost:hover {

    font-size: 30px;
    border: solid 1px black;

}

#OnlineHelp {

    position: absolute;
    right: 0px;
    font-size: 25px;
    display: flex;
    align-items: center;
    height: 200px;
    width: 39.9%;
    cursor: pointer;
    margin-top: 2px;
    z-index: 1;
    text-decoration: none;

    transition: all 0.1s;

}

#OnlineHelp>img {

    position: absolute;
    z-index: 0;
    width: 190px;
    margin-left: 450px;
}

#OnlineHelp>span {

    z-index: 1;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    margin-left: 80px;
    transition: font-size 0.5s;
}

#OnlineHelp:hover {

    font-size: 30px;
    border: solid 1px black;

}

#SendANDHelp {

    display: flex;
    height: 205px;
}
